<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
</head>

<body>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io('http://toptimviec-backend.herokuapp.com', {extraHeaders: {
                Authorization: "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2MTcyODQwMTcsInN1YiI6eyJpZF91c2VyIjoiNjA1OWEyNzc5NTg2MjZjYTYwMjQ3NjFkIiwicm9sZSI6ImVtcGxveWVyIn0sImlzcyI6IjYwNjVjOTU5ZTFmNGRmNDZmMzExMDhmOSJ9.c8OT-qBAaseCluHXpwFsce5odMuXqb5axVlx9QIN3Ws"
                }});
    socket.on('new', function (data) {
            console.log(data);
        });
</script>
<h1>Test socket.io</h1>
</html>